.button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  overflow: hidden;
  padding: 1.1em 1.5em;
  margin: 6px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  background: transparent;
  transition: all 300ms ease;
  @include styleText($fs-9, $fw-2, $color-white-3);
  border-radius: 50px;
  box-shadow: 0 0 0 3em $color-violet-1 inset;
  &:hover {
      color: $color-violet-1;
      box-shadow: 0 0 0 1px $color-violet-1 inset;
  }
}